<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="menu">
	<div>
		<a href="../">volver a la parte publica</a>
	</div>
	<div style="text-align: center;font-size: 2em;background-color: lightyellow">
		<span th:text="#{titulo.bienvenida}"></span>
	</div>
	<div>
		<a href="?idioma=es">ESPAÑOL</a> 
		<a href="?idioma=en">ENGLISH</a> 		
	</div>
	<div style="text-align: center;">
		<a href="obtenerLibros"><span th:text="#{enlaces.productos}"></span></a>
		<a href="obtenerUsuarios">gestionar usuarios</a>
		<a href="obtenerCategorias">gestionar categorias</a>
		<a href="obtenerPedidos">gestionar pedidos</a>
		<a href="../logoutAdmin">cerrar sesion</a>
	</div>
	
</div>

</body>
</html>